:host {
  display: flex;
  border-radius: 3px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  color: #000000;
  transition: color .3s ease-in-out;

  @include respondFrom($screen-sm-min) {
    padding: 4px 7px;
  }
  @include mobile {
    padding: em(4px) em(7px);
  }
}

:host(:hover) {
  color: #66c05d;
}

::slotted(a) {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  @include respondFrom($screen-sm-min) {
    font-size: 11px;
  }
  @include mobile {
    font-size: em(9px);
  }
}

::slotted(span) {
  text-transform: uppercase;
  color: #000000;

  @include respondFrom($screen-sm-min) {
    font-size: 11px;
  }
  @include mobile {
    font-size: em(9px);
  }
}

.next {
  height: 0;
  display: inline-block;
  width: 0;

  @include respondFrom($screen-sm-min) {
    margin-left: 5px;
    border-left: 5px solid #66c05d;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  @include mobile {
    margin-left: em(5px);
    border-left: em(5px) solid #66c05d;
    border-top: em(3px) solid transparent;
    border-bottom: em(3px) solid transparent;
  }
}

.house {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEyIDEwIj4gICAgPHBhdGggZmlsbD0iIzY2NiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNiAwTDAgNC45OTloMS45OTlWMTBoMlY3SDd2M2gzVjQuOTk5aDEuOTk5eiIvPjwvc3ZnPg==);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include respondFrom($screen-sm-min) {
    width: 12px;
    height: 10px;
    margin-right: 5px;
  }
  @include mobile {
    width: em(12px);
    height: em(10px);
    margin-right: em(5px);
  }
}
