:host {
  position: relative;
}

.slider {
  @include respondFrom($screen-sm-min) {
    margin-top: 10px;
  }

  @include mobile {
    margin-top: em(10px);
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;

  @include respondFrom($screen-sm-min) {
    margin-top: 15px;
  }

  @include mobile {
    margin-top: em(15px);
  }
}

.success {
  color: #ffffff;
  background-color: #66c05d;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;

  @include respondFrom($screen-sm-min) {
    padding: 7px 11px;
    font-size: 10px;
  }

  @include mobile {
    font-size: em(10px);
    padding: em(7px, 10px) em(11px, 10px);
  }
}

.reset {
  cursor: pointer;
  color: #66c05d;
  text-transform: capitalize;

  @include respondFrom($screen-sm-min) {
    font-size: 11px;
    margin-left: 10px;
  }

  @include mobile {
    font-size: em(11px);
    margin-left: em(10px, 11px);
  }
}

.input-fields {
  display: flex;
  justify-content: center;
  align-items: center;

  @include respondFrom($screen-sm-min) {
    margin-top: 15px;
  }

  @include mobile {
    margin-top: em(15px);
  }
}

input {
  border: 1px solid #ddd;
  outline: 0;
  text-align: center;
  width: 38%;

  @include respondFrom($screen-sm-min) {
    font-size: 14px;
    padding: 5px 10px;
  }

  @include mobile {
    font-size: em(14px);
    padding: em(5px, 14px) em(10px, 14px);
  }

  &:focus {
    border-color: #66c05d;
  }
}

.delimiter {
  display: inline-block;
  @include respondFrom($screen-sm-min) {
    margin-left: 5px;
    margin-right: 5px;
  }

  @include mobile {
    margin-left: em(10px);
    margin-right: em(10px);
  }
}

.noUi-target,
.noUi-target * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  transform-origin: 0 0;

  @include respondFrom($screen-sm-min) {
    width: calc(100% - 16px);
  }

  @include mobile {
    width: calc(100% - 1.28571em);
  }
}
/* Offset direction
 */
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  position: absolute;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  @include respondFrom($screen-sm-min) {
    height: 8px;
  }

  @include mobile {
    height: em(8px);
  }
}
.noUi-horizontal .noUi-handle {
  left: 100%;
  border-radius: 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.36);
  background-image: linear-gradient(to bottom, #ffffff, #ececec);

  @include respondFrom($screen-sm-min) {
    width: 18px;
    height: 15px;
    top: -4px;
  }

  @include mobile {
    width: em(18px);
    height: em(15px);
    top: em(-4px);
  }
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border: 1px solid #D3D3D3;
  border-radius: 4px;

  @include respondFrom($screen-sm-min) {
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
  }

  @include mobile {
    box-shadow: inset 0 1px 1px #F0F0F0, 0 em(3px) em(6px) em(-5px) #BBB;
  }
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #66c05d;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;

  @include respondFrom($screen-sm-min) {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  }

  @include mobile {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px em(7px) #EBEBEB, 0 em(3px) em(6px) em(-3px) #BBB;
  }
}
.noUi-active {
  @include respondFrom($screen-sm-min) {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
  }

  @include mobile {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px em(7px) #DDD, 0 em(3px) em(6px) em(-3px) #BBB;
  }
}
/* Handle stripes;
 */
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCA0IDQiPiAgICA8cGF0aCBmaWxsPSIjNjZDMDVEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDJsNC0ydjR6Ii8+PC9zdmc+);

  background-repeat: no-repeat;
  background-position: center;

  @include respondFrom($screen-sm-min) {
    background-size: 4px 4px;
  }

  @include mobile {
    background-size: em(4px) em(4px);
  }
}
.noUi-handle-upper:before {
  transform: scale(-1, 1);
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;

  @include respondFrom($screen-sm-min) {
    font-size: 10px;
  }

  @include mobile {
    font-size: em(10px);
  }
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
.noUi-pips-horizontal {
  top: 100%;
  left: 0;
  width: 100%;

  @include respondFrom($screen-sm-min) {
    padding: 10px 0;
    height: 80px;
  }

  @include mobile {
    padding: em(10px) 0;
    height: em(80px);
  }
}
.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;

  @include respondFrom($screen-sm-min) {
    width: 2px;
    height: 5px;
  }

  @include mobile {
    width: em(2px);
    height: em(5px);
  }
}
.noUi-marker-horizontal.noUi-marker-sub {
  @include respondFrom($screen-sm-min) {
    height: 10px;
  }

  @include mobile {
    height: em(10px);
  }
}
.noUi-marker-horizontal.noUi-marker-large {
  @include respondFrom($screen-sm-min) {
    height: 15px;
  }

  @include mobile {
    height: em(15px);
  }
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  text-align: center;
  white-space: nowrap;

  @include respondFrom($screen-sm-min) {
    padding: 5px;
  }

  @include mobile {
    padding: em(5px);
  }
}
.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
