:host {
  display: flex;

  @include respondFrom($screen-sm-min) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @include respond($screen-md-max) {
    flex-direction: column;
  }

  @include mobile {
    margin-bottom: em(30px);
  }
}

::slotted(uc-footer-menu) {
  @include desktop-large {
    flex: 1 1 70%;
  }
  @include desktop-small {
    margin-bottom: 46px;
  }
  @include tablet {
    margin-bottom: 44px;
  }
  @include mobile {
    margin-bottom: 18px;
  }
}

::slotted(uc-footer-link-block) {
  @include desktop-large {
    flex: 1 1 30%;
  }
}
