.list[data-active] {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDE4IDEzIj4gICAgPHBhdGggZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwaDE4djNIMFYwem0wIDVoMTh2M0gwVjV6bTAgNWgxOHYzSDB2LTN6Ii8+PC9zdmc+);
}

.list:not([data-active]) {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDE4IDEzIj4gICAgPHBhdGggZmlsbD0iIzY2QzA1RCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwaDE4djNIMFYwem0wIDVoMTh2M0gwVjV6bTAgNWgxOHYzSDB2LTN6Ii8+PC9zdmc+);
}

.card[data-active] {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4gICAgPHBhdGggZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwaDh2OEgwVjB6bTEwIDBoOHY4aC04VjB6TTAgMTBoOHY4SDB2LTh6bTEwIDBoOHY4aC04di04eiIvPjwvc3ZnPg==);
}

.card:not([data-active]) {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4gICAgPHBhdGggZmlsbD0iIzY2QzA1RCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwaDh2OEgwVjB6bTEwIDBoOHY4aC04VjB6TTAgMTBoOHY4SDB2LTh6bTEwIDBoOHY4aC04di04eiIvPjwvc3ZnPg==);
}

.toggler {
  display: inline-flex;
  border-radius: 2px;
  box-shadow: inset 0 2px 3px 1px #ffffff;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;

  div {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    cursor: pointer;

    svg {
      fill: #66c05d;
    }

    &[data-active] {
      background-color: #66c05d;
      svg {
        fill: #ffffff;
      }
    }
  }
}
